*{
    padding: 0px;
    margin: 0px;
    /* background-color: yellow; */
}

body{
    text-align: center;
    background-color: darkslategrey
}

h2{
    background-color: lightblue;
    text-align: center;
    width: 35vw;
    margin: auto;
    margin-top: 12px;
    border-radius: 0.6rem;
    padding: 0.6rem;
}

.dashboard{
    background-color: green;
    font-size: 22px;
    color: white;
    font-weight: 800;
    width: 20vw;
    margin: auto;
    margin-top: 20px;
    border-radius: 1rem;
    padding: 0.6rem;
}

.game{
    /* border: 2px solid black; */
    height: 60vh;
    width: 40vw;
    margin: auto;
    margin-top: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: aquamarine; */
}

.square{
    border: 7px solid black;
    height: 22vh;
    width: 12vw;
    margin: 2rem;
    border-radius: 10%;
}

.section1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 15vw;
    /* background-color: black; */
}

.section2{
    display: flex;
    flex-direction: column;
    width: 15vw;
    justify-content: center;
    align-items: center;
    /* background-color: darkcyan; */
}
.first{
    background-color: yellow;
}
.second{
    background-color: rebeccapurple;
}
.third{
    background-color: peru;
}
.fourth{
    background-color: lightcoral;
}


.white{
    background-color: white;
}

.simon{
    color: white;
    background-color: #074173;
    width: 15vw;
    margin: auto;
    border: 2px solid red;
    border-radius: 40px;
    padding: 0.8rem;
    font-size: 1.4rem;
    font-weight: 700;
    margin-top: 1rem;
}

.scoreboarddd{
    width: 12vw;
    height: 12vh;
    border: 2px solid black;
    background-color: white;
    position: absolute;
    top: 35%;
    left: 8%;
}

